/*!
    Title: Dev Portfolio Template
    Version: 1.2.2
    Last Change: 03/25/2020
    Author: Ryan Fitzgerald
    Repo: https://github.com/RyanFitzgerald/devportfolio-template
    Issues: https://github.com/RyanFitzgerald/devportfolio-template/issues

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Gulp and send to the /css folder which is then loaded on the page.
*/
/*
    File Contents:

        1. Variables
        2. Mixins
        3. Global Styles
        4. Lead Styles
        5. About Styles
        6. Experience Styles
        7. Education Styles
        8. Project Styles
        9. Skills Styles
        10. Contact Styles
        11. Optional Section Styles
        12. Media Queries
*/

/*
    ------------------------
    ----- 1. Variables -----
    ------------------------
*/

// DESCOMENTAR ABAIXO PARA MODO DEBUG!
// * { outline: 1px solid red;}

// Define base and accent colors
$base-color: #3498db;
$base-color-hover: darken($base-color, 10%);

// Define background colors
$background: #fff;
$background-alt: #f2f2f5;

// Define border colors
$border: #dcd9d9;

// Define text colors
$heading: #374054;
$text: #74808a;

/*
    ---------------------
    ----- 2. Mixins -----
    ---------------------
*/

@mixin transition($duration: 0.5s, $func: ease, $property: all) {
    transition: #{$duration} #{$func} #{$property};
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
        opacity: 1;
    }

    &::-moz-placeholder {
        @content;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

/*
    ----------------------------
    ----- 3. Global Styles -----
    ----------------------------
*/

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;

    background: darken($base-color, 40%);
    // background-size: cover;

    &.active {
        overflow: hidden;
        z-index: -1;
    }
}

/* Carregar fonte de maneira assíncrona */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(path/to/lato.woff2) format('woff2');
    font-display: swap; /* Troca pela fonte desejada após o carregamento */
}

/*
    ------------------------
    ----- GRID LAYOUT -----
    ------------------------
*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-gap: 10px; /* Add a gap between the columns */
    height: 100vh; /* Set the container height to 100vh */
}

.left-column {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px; /* Add a gap between the rows */
}

.right-column {
    display: grid;
    grid-template-rows: 1fr; /* Equal-height rows for Div 4 and Div 5 */
    grid-gap: 10px; /* Add a gap between the rows */
}

.grid-item {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

@media (max-width: 1285px) {
    .grid-container {
        grid-template-columns: 1fr; /* Change to a single column layout */
    }
}

// DOWNLOAD BTN
.btn-rounded-white {
    display: inline-block;
    color: #fff;
    padding: 15px 25px;
    border: 3px solid #fff;
    border-radius: 30px;
    @include transition();

    &:hover {
        color: $base-color;
        background: #fff;
        text-decoration: none;
    }
}

.heading {
    color: #fff;   
    display: inline-block;
    font-size: 2em;
    font-weight: 300;


    &:after {
        content: '';
        top: 100%;
        left: 0;
        margin: 0 auto;
        background: $base-color;
    }
}

.background-alt {
    background: $background-alt;
}

/*
    --------------------------
    ----- 4. Lead Styles -----
    --------------------------
*/

#lead {
    min-height: 500px;
    max-height: 1080px;
    background: url(../images/lead-bg.jpg);
    background-size: cover;
    padding: 8px;
    // overflow: auto;

}

@keyframes pulsate {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

/*
    -------------------------------
    ----- 9. Skills Styles -----
    -------------------------------
*/

#skills {
    // max-width: 950px;
    h2 {
        color: lighten($base-color, 50%);
        font-weight: 400;
        font-size: 2em;
        margin-bottom: 15px;
    }

    ul {
        display: block;
        margin: 0 auto;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 15px;
        padding: 7px 10px;
        color: $heading;
        background: darken($background-alt, 5%);
        list-style: none;
        cursor: default;
        font-size: 1.5em;
    }
}

/*
    -----------------------------
    ----- 12. Media Queries -----
    -----------------------------
*/